@import url('https://fonts.googleapis.com/css?family=EB Garamond:300,400,500,700|Unica+One');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Unica+One');

html, body {
  height: 100%;
  font-family: 'EB Garamond', sans-serif;
}

p {
  margin-bottom: 0;
}

li {
  list-style: none;
  margin-bottom: 0;
}

.uc-bold {
  font-weight: 700;
}
.uc-chrome {
  display: flex;
  flex-direction: row;
}

.uc-main-nav {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 10;
}

.uc-main-nav__items {
  flex: 1;
  display: none;
  justify-content: flex-end;
  margin: 20px 50px;
  padding-top: 10px;
}

.uc-main-nav__items > li {
  padding: 1rem;
  margin: 0 2rem;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.uc-main-nav__items > li:first-child {
  margin-left: 0;
}

.uc-main-nav__items > li:last-child {
  margin-right: 0;
}

.uc-main-nav__items a {
  color: #2c2c2c;
  font-family: 'Unica One', 'EB Garamond', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.uc-main-nav__items a:hover {
  color: #f6afa4;
  cursor: pointer;
}

.uc-main-nav__logo {
  height: 8rem;
  margin: 1rem 2rem;
}

.uc-workspace {
  flex: 1;
  height: 100%;
  min-height: 100vh;
  padding-left: 0;
  padding-top: 10rem;
}

.uc-workspace--white {
  background-color: white;
}

/* Common Styles */

.uc-title-wrapper {
  padding: 300px 0;
  text-align: center;
}

h2.uc-title {
  font-family: 'Unica One', 'EB Garamond', sans-serif;
}

.uc-landing__banner-wrapper {
  background-color: white;
}

.uc-landing__banner {
  width: 100%;
}

.uc-landing__header-wrapper {
  background-color: white;
}

.uc-landing__header {
  margin: 0 calc((100% - 600px)/2);
  margin-left: calc((100% - 600px)/2) !important;
  max-width: 600px;
}

.uc-landing__content-header {
  color: #f6afa4;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.uc-landing__content-section {
  display: flex;
}

.uc-landing__content-section:last-of-type {
  margin-bottom: 10rem;
}

.uc-landing__content-section-header {
  flex: 1;
  padding: 2rem;
  align-self: center;
  background-color: #ce310c;
  text-align: right;
}

.uc-landing__content-section-body {
  flex: 4;
  padding: 0 2rem;
  text-align: left;
}

.uc-landing__contact-us {
  display: grid;
  grid-template-columns: auto 300px;
  padding: 60px 40px 60px 50px;
  color: black;
  background-color: #ffdb5d;
}

.uc-landing__contact-us h5 {
  margin-right: 20px;
  font-family: 'Unica One', 'EB Garamond', sans-serif;
}

.uc-landing__contact-us p {
  margin-bottom: 0;
  font-size: 12px;
}

/* Products */
/* -- */
.uc-product-feature-banner {
  padding: 2rem 6em 0.5rem;
  background-color: #ffdb5d;
  color: #2c2c2c;
}

.uc-product-feature-banner h3 {
  margin-top: 3rem;
  font-weight: 700;
}

.uc-product-feature-image {
  /*width: 100%;*/
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.uc-product-feature-description {
  flex: 3;
  padding: 4rem;
  background-color: white;
}

.uc-product-feature-slogan {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #ce310c;
}

.uc-product-banner {
  margin-bottom: 2rem;
  padding: 1rem 6em 0.5rem;
  background-color: #f6afa4;
  color: #2c2c2c;
}

.uc-product-banner h4 {
  font-weight: 500;
}

.uc-product-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.uc-product-row:first-of-type {
  margin-top: 4rem;
}

.uc-product {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
}

.uc-product a {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.uc-product a:hover {
  color: #f6afa4;
  cursor: pointer;
}

.uc-product h6 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.uc-product-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}


/* Responsive */
@media (min-width: 550px) {
  .uc-main-nav {
    display: flex;
  }
  .uc-main-nav__items {
    display: flex;
  }

  .uc-workspace {
  }

  .uc-landing__content-section {
    display: flex;
    /*padding: 0 6rem;*/
  }

  .uc-product-feature-image {
    zoom: 150%;
  }
}

#uc-product__B8-3a {
  /*background-image: url('../images/products/B/B8-3a.jpg');*/
}
/* Grid */

.uc-workspace-grid {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Unica One', 'EB Garamond', sans-serif;
}

.uc-workspace-grid--blocky {
  display: grid;
  grid-template-columns: 20px auto;
}

.uc-workspace-grid--black {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.uc-workspace-grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 250px;
  background-color: #ce310c;
  font-size: 32px;
  color: white;
  line-height: 1;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
}

.uc-workspace-grid-box-nonclick {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  /*max-height: 500px;*/
  /*background-color: #ce310c;*/
  /*font-size: 32px;*/
  /*color: white;*/
  line-height: 1;
  font-weight: 200;
}

.uc-workspace-grid-box-nonclick h5 {
  font-family: 'Unica One', 'EB Garamond', sans-serif;
  text-transform: uppercase;
  color: #ce310c;
}

.uc-workspace-grid-box-nonclick p {
  line-height: 1.45;
  margin-left: 5rem;
}

.uc-workspace-grid-box-nonclick--black {
  font-size: 18px;
  display: inline-block;
  background-color: #1c1c1c;
}

.uc-workspace-grid-box:hover {
  background-color: #f16028;
  color: white;
  transform: scale(1.1);
}

.uc-workspace-grid-box:hover a {
  color: white;
}

.uc-workspace-grid-box--white {
  background-color: white;
  color: #1c1c1c;
}

.uc-workspace-grid-box--yellow {
  background-color: #ffdb5d;
  color: #1c1c1c;
}

.uc-workspace-grid-box--red {
  background-color: #f6afa4;
}

.uc-workspace-grid-box--black {
  background-color: #1c1c1c;
}

.uc-recipe-detail-wrapper {
  padding: 60px 40px;
}

.uc-recipe-detail-img {
  width: 100%;
}

.uc-recipe-detail h3 {
  font-family: 'Unica One', 'EB Garamond', sans-serif;
}

.uc-recipe-detail h5 {
  font-family: 'Unica One', 'EB Garamond', sans-serif;
}

.uc-recipe-detail ol {
  list-style-type: decimal;
}

.uc-recipe-preview__link {
  text-decoration: none;
  color: #1c1c1c;
}

/* Product Pages */

.uc-product-category-preview__link {
  text-decoration: none;
  color: white;
}

.uc-product-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.uc-product-brush-background {
  position: relative;
  height: 450px;
  width: 500px;
}
.uc-product-preview-img-wrapper {
  position: relative;
  padding: 40px 100px;
}
.uc-product-preview-img {
  left: 100px;
  top: 140px;
  height: 200px;
  padding: 20px 100px;
}

.uc-product-preview-text {
  align-self: center;
  padding-bottom: 80px;
}

/** Events */
.uc-events-wrapper {
  padding: 20px 50px;
}

.uc-event-detail {
  position: relative;
  padding: 50px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.uc-event-detail-badge {
  position: relative;
  top: -50px;
  width: auto;
  padding: 5px 20px;
  background-color: #ffdb5d;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
}

.uc-event-detail-body {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1079px) {
  .uc-event-detail-body {
    display: block;
  }
}

.uc-event-detail-description {
  max-width: 80%;
}

.uc-event-detail-booking {
  display: flex;
  flex-direction: column;
}

.uc-event-detail-logistics-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.uc-event-detail-logistics-label {
  margin-right: 10px;
}
